# Code Owners for the Micro-Learning App
#
# This file defines who should review and approve changes to different parts of the project.
# GitHub will automatically request reviews from these people when PRs touch these files.
#
# Frontend team - reviews all frontend changes
/frontend/ @mbhoop @cespinozaa @Swathi200512 @jaidadorsey07 @trish222 @anishav3rma @apurvagandhi @tramnguyen1712 
# Backend team - reviews all backend changes
/backend/ @tabiyakhokhar @vrrana07 @aj859 @BhavikaVan @constance07 @Srihitha-Reddy @apurvagandhi @Rj-2171 
/.github/workflows/ @mbhoop @cespinozaa @Swathi200512 @jaidadorsey07 @trish222 @anishav3rma @tramnguyen1712 @tabiyakhokhar @vrrana07 @aj859 @BhavikaVan @constance07 @Srihitha-Reddy @apurvagandhi @Rj-2171 
# All Documentation
/docs/@mbhoop @cespinozaa @Swathi200512 @jaidadorsey07 @trish222 @anishav3rma @tramnguyen1712 @tabiyakhokhar @vrrana07 @aj859 @BhavikaVan @constance07 @Srihitha-Reddy @apurvagandhi @Rj-2171  